:host{
    .name{
        text-align: center;
    }
    ion-select{
        width: fit-content;
    }
    .label-for-genre, .label-for-race{
        margin-top: 13px;
        margin-left: 10px;
    }
    
}